.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: center;
}

.free {
  background-color: #008450;
}

.busy {
  background-color: #B81D13;
}

.urgent {
  background-color: #FF7800;
}

.slot-details {
  /* Your styles here */
  padding: 20px;
  background-color: #282c34;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* App.css */
/* Existing styles for larger screens */

@media (max-width: 768px) {
  /* Styles for screens with a maximum width of 768px (adjust as needed) */
  /* Add mobile-specific styles here */
}

/* App.css or AppMobile.css */
table {
  width: 100%;
  overflow-x: auto;
}


/* Your mobile-specific styles go here */
@media only screen and (max-width: 600px) {
  /* Styles for devices with a maximum width of 600 pixels (e.g., mobile phones) */
  body {
    font-size: 14px;
  }

  /* Add more mobile-specific styles as needed */
}
